[submodule "Tiled/Libraries/format-tiled"]
	path = Tiled/Libraries/format-tiled
	url = https://github.com/Yanrishatum/haxe-format-tiled
[submodule "Plume"]
	path = Plume
	url = https://github.com/RafaelOliveira/Plume
